
services:
  # MongoDB
  mongo:  # Changed service name from mongodb to mongo
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongodb_data:/data/db
    networks:
      - mongo_network
    restart: always

networks:
  mongo_network:
    driver: bridge

volumes:
  mongodb_data: