services:
  # MongoDB
  mongo:  # Changed service name from mongodb to mongo
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongodb_data:/data/db
    networks:
      - app_network
    restart: always

  # Redis
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network
    restart: always
    command: redis-server --appendonly yes

networks:
  app_network:
    driver: bridge

volumes:
  mongodb_data:
  redis_data: